 <section class="ui segment">
  <div class="ui stackable equal width two column grid container">
    {{#each links}}
    <div class="column">
     <div class="row">
      <section class="ui raised segment">
       <h2 class="ui centered header">
         {{title}}
       </h2>
       <h3 class="ui centered header">
         Number of links: {{links.length}}
        </h3>
         <a href="/linklist/{{id}}" class="ui icon ">
           <i class="blue large tag icon"></i> 
          </a>
         <a href="/dashboard/deletelinklist/{{id}}" class="ui icon">
          <i class="bordered inverted red trash icon"></i>
         </a>
          <a href="/dashboard/makepublic/{{id}}" class="ui icon">
              <i class="bordered inverted black cloud upload icon"></i>
          </a>
          <a href="/dashboard/makeprivate/{{id}}" class="ui icon">
              <i class="bordered inverted green cloud download icon"></i>
          </a>
         </section>
        </div>
      </div>
    {{/each}}
  </div>
 </section>

  

