{{> menu id="stats"}}
<section class ="ui inverted yellow segment">
<section class ="ui center aligned segment">
    <p>
        Welcome to the statistics page!<br>
        This is where you can see a whole bunch of numbers that represent how the site is doing!
    </p>
</section>
<section class="ui segment">
<section class="ui stackable three column grid">
    <section class="ui column">
        <div class="ui small horizontal statistics">
            <div class="ui small statistic">
                <div class="value">
                    {{linkCount}}
                </div>
                <div class="label">
                    All Links currently stored
                </div>
            </div>
            <div class="ui small statistic">
                <div class="value">
                    {{linkListCount}}
                </div>
                <div class="label">
                    All Linklists Currently Stored
                </div>
            </div>
            <div class="ui small statistic">
                <div class="value">
                    {{ myLinkListCount }}
                </div>
                <div class="label">
                    My links lists Currently Stored
                </div>
            </div>
        </div>
    </section>
    <section class="ui column">
    <div class="ui small horizontal statistics">
        <div class="ui small statistic">
            <div class="value">
                {{myLinkCount}}
            </div>
            <div class="label">
                All My Links Currently Stored
            </div>
        </div>
        <div class="ui small statistic">
            <div class="value">
                {{ mostlinks.title }}
            </div>
            <div class="label">
                Most Links
            </div>
        </div>
        <div class="ui small statistic">
            <div class="value">
                {{ leastlinks.title}}
            </div>
            <div class="label">
                Least Links
            </div>
        </div>
    </div>
    </section>
    <section class="ui column">
        <div class="ui small horizontal statistics">
            <div class="ui small statistic">
                <div class="value">
                    {{avgLinks}}
                </div>
                <div class="label">
                    Average Links per user
                </div>
            </div>
            <div class="ui small statistic">
                <div class="value">
                    {{ mostUserLists.name }}
                </div>
                <div class="label">
                    User With Most Links
                </div>
            </div>
            <div class="ui small statistic">
                <div class="value">
                    {{ leastUserLists.name }}
                </div>
                <div class="label">
                    User with Least Links
                </div>
            </div>
        </div>
    </section>
</section>
</section>
</section>