{{> menu id="stats"}}

<section class="ui raised segment">
<div class="ui wide stackable doubling centered grid">
    <div class="three wide column">
          <div class="ui fluid card">
              <div class="content">
                  <h3>All Links currently stored:</h3>
                  <div class="ui massive blue label">
                      {{ linkCount }}
                  </div>
              </div>
          </div>
          <div class="ui fluid card">
              <div class="content">
                  <h3>All Linklists currently stored:</h3>
                  <div class="ui massive blue label">
                    {{ linkListCount }}
                  </div>
              </div>
          </div>
          <div class="ui fluid card">
              <div class="content">
                  <h3>My Linklists currently stored:</h3>
                  <div class="ui massive blue label">
                      {{ myLinkListCount }}
                  </div>
              </div>
          </div>
    </div>
      <div class="three wide column">
        <div class="ui fluid card">
            <div class="content">
                <h3> My Links currently stored:</h3>
                <div class="ui massive blue label">
                    {{ myLinkCount }}
                </div>
            </div>
        </div>
        <div class="ui fluid card">
            <div class="content">
                <h3> Most Links:</h3>
                <div class="ui massive blue label">
                    <p>
                    {{ mostlinks.title }}:
                    {{mostlinks.count }}
                    </p>
                </div>
            </div>
        </div>
        <div class="ui fluid card">
            <div class="content">
                <h3> Least Links:</h3>
                <div class="ui massive blue label">
                    <p>
                    {{ leastlinks.title}}:
                    {{leastlinks.count }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="three wide column">
        <div class="ui fluid card">
            <div class="content">
                    <h3> Average links per user:</h3>
                    <div class="ui massive blue label">
                        {{ avgLinks }}
                    </div>
            </div>
        </div>
            <div class="ui fluid card">
                <div class="content">
                    <h3> User with most Links:</h3>
                    <div class="ui massive blue label">
                        <p>
                        {{ mostUserLists.name }}:
                        {{ mostUserLists.highest }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="ui fluid card">
                <div class=" content">
                        <h3> User with least Links:</h3>
                        <div class="ui massive blue label">
                            <p>
                            {{ leastUserLists.name }}:
                            {{ leastUserLists.lowest }}
                            </p>
                        </div>
                </div>
            </div>
        </div>
</div>
</section>
